<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Me!</h2>
                    <h3 class="section-subheading text-muted">Hi my name is Eli Wilcox.  I’ve been wanting to have a business for a while to save money for my mission and college.  A few weeks ago my dad finally convinced me that I could sell bread (with his help).  I am making one to two dozen loaves of bread on most Saturdays.   Since I’m a kid my Dad helps me a lot as a driver, a computer guy, a selling guy and a baking helper.</h3>
                </div>
            </div>
        </div>
    </section>
