<!-- Breads Section -->
    <section id="order" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Place Your Order</h2>
                    <h3 class="section-subheading text-muted">Hurry before they are sold out!</h3>
                </div>
            </div>
            <div class="row text-center">

              <!--Start eventbrite-->
<!-- Noscript content for added SEO -->
<noscript><a href="https://www.eventbrite.com/e/all-loaves-5-each-reserve-for-saturday-delivery-030919-tickets-58366901975" rel="noopener noreferrer" target="_blank"></noscript>
<!-- You can customize this button any way you like -->
<button id="eventbrite-widget-modal-trigger-58366901975" type="button">Buy Tickets</button>
<noscript></a>Buy Tickets on Eventbrite</noscript>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function() {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '58366901975',
        modal: true,
        modalTriggerElementId: 'eventbrite-widget-modal-trigger-58366901975',
        onOrderComplete: exampleCallback
    });
</script>
<!--END eventbrite-->

        </div>
    </section>
